.nameInput {
  max-width: 2.5em;
  font-feature-settings: 'cpsp';
  letter-spacing: 0.2em;
  font-weight: 600;
  border: none;
  line-height: 135%;
  border-radius: 7px;
  padding: 6px;
  text-align: center;
}
