:root {
  --color_background: rgb(172, 172, 172);
  --color_foreground: rgb(40, 40, 40);
  --color_foreground-o50: rgba(40, 40, 40, 0.5);
  --color_foreground-o25: rgba(40, 40, 40, 0.25);
  --color_foreground-darkened: rgb(0, 0, 0);

  --color_foreground-light: rgba(235, 235, 235);
  --color_foreground-light-o50: rgba(235, 235, 235, 0.5);
  --color_foreground-light-o25: rgba(235, 235, 235, 0.25);
  --color_foreground-light-brightened: rgb(255, 255, 255);
  --font_default: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-family: var(--font_default);
}

html,
body {
  height: 100%;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color_background);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2em 1fr;
  grid-template-areas: 'header' 'game';
  place-items: center;
}

.isInIframe {
  grid-template-rows: 1fr;
  grid-template-areas: 'game';
}

header {
  grid-area: header;
}

.isInIframe header {
  display: none;
}

main {
  grid-area: game;
  border-radius: 1em;
  overflow: hidden;
}

a {
  --hover-offset: 2px;
  --underline-thickness: 2px;
  --underline-offset: 0.2em;

  position: relative;

  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-weight: var(--font-weight-bold);

  text-decoration: underline;
  text-decoration-color: var(--color_foreground-light-o50);
  text-decoration-thickness: 2px;
  text-underline-offset: 0.2em;

  transform: translateY(0);
}

a::after {
  --lower-inset: calc(
    -1 * (var(--underline-offset) + var(--underline-thickness)) / 2
  );
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0 -0.4em var(--lower-inset) -0.4em;
  background: rgba(255, 255, 255, 0);
  border-radius: 0.5em;
  transform: scale(0.8);
  transition: transform 100ms, opacity 100ms;
}

a:hover {
  transform: translateY(-1px);
}

a:hover::after,
a:focus::after {
  transform: scale(1);
  background-color: rgba(255, 255, 255, 0.15);
}

a:hover:active {
  transform: translateY(1px);
}

a:hover:active::after {
  background-color: rgba(255, 255, 255, 0.2);
}
