.subakGame {
  --color_border: hsl(0, 0%, 75%);
  --color_light-border: hsl(0, 0%, 80%);
  --color_emphasized-text: hsl(0, 0%, 10%);
  --color_text: hsl(0, 0%, 20%);
  --color_light-text: hsl(0, 0%, 35%);
  --color_very-light-text: hsl(0, 0%, 50%);
  --color_background: hsl(0, 0%, 92.5%);
  --color_background-light: hsl(0, 0%, 97.5%);
  --color_contrast-background: hsl(0, 0%, 10%);
  --color_contrast-background-light: hsl(0, 0%, 20%);
  --color_contrast-background-dark: hsl(0, 0%, 0%);
  --color_contrast-text: hsl(0, 0%, 92.5%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;
  color: var(--color_text);
  background-color: var(--color_background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100vh;
  padding: 1.5em;
  user-select: none;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  em,
  strong {
    color: var(--color_emphasized-text);
  }

  button {
    --hover-distance: 2px;

    background: var(--color_contrast-background);
    color: var(--color_contrast-text);
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
    cursor: pointer;
    font-weight: 500;
    font-size: inherit;
    transition: transform 200ms, box-shadow 200ms, color 200ms, background 200ms;

    &:hover {
      transform: translateY(calc(-1 * var(--hover-distance)));
      box-shadow: rgba(0, 0, 0, 0.25) 0px var(--hover-distance) 0px;
      color: white;
      background: var(--color_contrast-background-light);

      &:active {
        transform: translateY(0);
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
        background: var(--color_contrast-background-dark);
        transition: transform 0ms, box-shadow 0ms, color 0ms, background 0ms;
      }
    }
  }

  a {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
    color: inherit;
    text-decoration-color: var(--color_light-border);
  }
}

.innerFrame {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 2em;
  max-width: 100%;
  max-height: 100%;

  @media screen and (max-width: 420px) {
    flex-direction: column;
    gap: 1.5em;
  }
}

.label {
  font-size: 0.85rem;
  letter-spacing: 0.025em;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: var(--color_very-light-text);
  margin: 0;
}

.hud {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;

  @media screen and (max-width: 420px) {
    flex-direction: row;
    padding: 0;
  }
}

.hudSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

/* Grid Positions */

.score {
  grid-area: score;
}

.nextFruit {
  grid-area: next-fruit;
}

.circleOfEvolution {
  grid-area: circle-of-evolution;
}

.game {
  grid-area: gameplay;
  border: var(--color_border) 1px solid;
  overflow: hidden;
  border-radius: 10px;
  align-self: center;

  cursor: -moz-grabbing;

  &.isDropping {
    cursor: -moz-grab;
  }
}

.game canvas {
  display: block;
}

.hudSection,
.game {
  transition: filter 250ms;
}

.dialogs {
  user-select: all;
}

/* Actual Styles */

.scoreNumber {
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  font-variant-numeric: tabular-nums;
}

.isGameOver,
.isNotStarted {
  .hudSection,
  .game {
    filter: grayscale(100%) contrast(25%) opacity(1);
  }

  .game {
    pointer-events: none;
  }
}
