.subakGame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 540px;
  max-width: 100%;
  max-height: 100vh;
  padding: 1.5em;
  user-select: none;
}

.innerFrame {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 2em;
  max-width: 100%;
  max-height: 100%;

  @media screen and (max-width: 420px) {
    flex-direction: column;
    gap: 1.5em;
  }
}

.label {
  font-size: 0.85rem;
  letter-spacing: 0.025em;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: var(--color-very-light-text);
  margin: 0;
}

.hud {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;

  @media screen and (max-width: 420px) {
    flex-direction: row;
    padding: 0;
  }
}

.hudSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

/* Grid Positions */

.score {
  grid-area: score;
}

.nextFruit {
  grid-area: next-fruit;
}

.circleOfEvolution {
  grid-area: circle-of-evolution;
}

.game {
  grid-area: gameplay;
  border: var(--color-border) 1px solid;
  overflow: hidden;
  border-radius: 10px;
  align-self: center;

  cursor: -moz-grabbing;

  &.isDropping {
    cursor: -moz-grab;
  }
}

.game canvas {
  display: block;
}

.hudSection,
.game {
  transition: filter 250ms;
}

.dialogs {
  user-select: all;
}

/* Actual Styles */

.scoreNumber {
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  font-variant-numeric: tabular-nums;
}

.isGameOver,
.isNotStarted {
  .hudSection,
  .game {
    filter: grayscale(100%) contrast(25%) opacity(1);
  }

  .game {
    pointer-events: none;
  }
}
