.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.scores {
  border: var(--color-light-border) 1px solid;
  border-radius: 10px;
  max-height: 13em;
  overflow: auto;
}

.rank,
.score,
.time {
  font-style: normal;
  font-variant-numeric: tabular-nums;
  font-feature-settings: 'ss01';
  text-align: right;
}

.name {
  /* font-feature-settings: 'ss06'; */
  letter-spacing: 0.2em;
  font-weight: 600;
}

table {
  border-collapse: collapse;
}

td {
  border-bottom: var(--color-light-border) 1px dotted;
  padding: 0.4em 0.5em;

  &:first-child {
    padding-left: 1em;
  }

  &:last-child {
    padding-right: 1em;
  }
}

tr:last-child {
  td {
    border-bottom: none;
  }
}
