.fruits {
  position: relative;
  padding: 10px 0;
}

.fruitLoop {
  position: absolute;
  border: rgba(0, 0, 0, 0.25) 1px solid;
  top: 0;
  right: 10px;
  bottom: 0;
  left: 10px;
  border-radius: 25px;
}

.fruitGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;

  &:nth-child(even) {
    flex-direction: column-reverse;
  }
}

.fruitGroups {
  position: relative;
  display: flex;
  gap: 15px;
}

.fruit {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
}

.fruit img {
  display: block;
  width: 100%;
  height: 100%;
}
