@font-face {
  font-family: 'Inter';
  src: url('./fonts/inter-variable.woff2') format('woff2 supports variations'),
    url('./fonts/inter-variable.woff2') format('woff2-variations');
  font-weight: 100 1000;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;
  color: #333;
  background-color: #dcdcdc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#header {
  position: fixed;
  bottom: 0;
  left: 0;
  background: black;
  color: white;
  padding: 0.5em;
  border-radius: 0 0.5em 0 0;
}

button {
  background: black;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: 500;
}
