@import './colors.css';

@font-face {
  font-family: 'Inter';
  src: url('./fonts/inter-variable.woff2') format('woff2 supports variations'),
    url('./fonts/inter-variable.woff2') format('woff2-variations');
  font-weight: 100 1000;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong {
  color: var(--color-emphasized-text);
}

#app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-container {
  border: hsla(0, 0%, 0%, 0.25) 1px dotted;
  border-radius: 10px;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  border-radius: 0 0.5em 0 0;
}

button {
  background: var(--color-contrast-background);
  color: var(--color-contrast-text);
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: 500;
}

a {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
  color: inherit;
  text-decoration-color: var(--color-light-border);
}
